.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.confirm-button,
.confirm-button-small,
.deny-button {
  background-color: rgb(30 41 59);
  border: outset 3px rgb(38, 72, 126);
  &:hover {
    background-color: #000000;
    border: outset 3px rgb(191, 199, 211);
  }
  color: rgb(255, 255, 255);
  font-family: "Dm Sans", sans-serif;
  font-weight: "semi-bold";
  border-radius: 9999px;
}

.cancel-button, .cancel-button-notification {
  background-color: #7c7b7b;
  &:hover {
    background-color: #000000;
  }
  color: rgb(255, 255, 255);
  font-family: "Dm Sans", sans-serif;
  font-weight: "semi-bold";
  border-radius: 9999px;
}

body.dark .custom-modal,
body.dark .custom-modal-small, .custom-modal-notification {
  height: auto;
  width: auto;
  max-width: 50%;
  background: #222; /* cor de fundo */
  border-radius: 70px; /* bordas arredondadas */
  color: #fff; /* cor do texto */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  padding: 32px 24px;
}

body:not(.dark) .custom-modal,
body:not(.dark) .custom-modal-small {
  height: auto;
  width: auto;
  max-width: 50%;
  background: #fff; /* cor de fundo */
  border-radius: 20px; /* bordas arredondadas */
  color: #000; /* cor do texto */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  padding: 32px 24px;
}

.custom-title-small,
.custom-text-small {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
  font-family: "Dm Sans", sans-serif;
}

